.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: lightcoral;
  transition: height .2s;
  display: flex;
  align-items: center;
}

.minimized {
  height: 25px;
}

.content {
  position: fixed;
  top: 50px;
  bottom: 50px;
  width: 100%;
  overflow-y: scroll;
  transition: top .2s;
}

.maximized {
  top: 25px;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
}
